body {
  overflow: hidden;
}

.App {
  text-align: center;
}

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

.modal {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.controls {
  display: flex;
  justify-content: center;

  .dot {
    font-size: xx-large;

    &.current {
      color: lightgray;
    }
  }

  .btn {
    background-color: transparent;
    border: none;

    svg {
      padding-top: 8px;
      width: 20px;
    }
  }
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;

  .slider {
    display: grid;
    grid-template-columns: 200px auto 200px;

    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
    }

    .image-container {
      position: relative;
      margin: auto;
      display: flex;
      justify-content: center;
      box-shadow: 0px 10px 50px gray;
      z-index: 1;

      &:first-child {
        transform: scale(0.5);
        transform-origin: left;
        box-shadow: none;
        -webkit-mask-image: linear-gradient(
          to left,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        @media screen and (max-width: $breakpoint-tablet) {
          display: none;
        }
      }

      &:last-child {
        z-index: 0;
        left: -50%;
        transform: scale(0.5);
        transform-origin: left;
        box-shadow: none;
        -webkit-mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        @media screen and (max-width: $breakpoint-tablet) {
          display: none;
        }
      }

      .caption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        padding: 5px 20px;
        max-width: max-content;
        background-color: #d3d3d3b8;
        color: white;
        text-shadow: 1px 1px 3px black;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
